<div class="topnav">
    <span>Welcome | {{user.userName}}</span>
</div>
<section>
    <table>
        <tr>
            <th>Course name</th>
            <td>{{ courseInfo.courseName }}</td>
        </tr>
        <tr>
            <th>Teacher name</th>
            <td>{{ courseInfo.teacherName }}</td>
        </tr>
        <tr *ngIf="this.role==='Admin' || this.role ==='Teacher'">
            <th>Average grade</th>
            <td> {{ courseInfo.averageGradeOfCourse | averagePrefix }}</td>
        </tr>
        <!-- promeni -->
        <tr *ngFor="let student of students">
            <th>Student Name</th>
            <td>
                {{student.name}}
            </td>
        </tr>
        <!-- <div *ngIf="this.role==='Admin' || this.role ==='Teacher'"> -->
        <tr *ngFor="let student of students">
            <!-- <th *ngIf="this.role==='Admin' || this.role ==='Teacher'"> -->
            <th>
                Student grades
            </th>
            <td *ngFor="let grade of student.grades">
                {{grade |gradeToLetter}}
            </td>
        </tr>
        <!-- </div> -->
        <!-- krai promeni -->
    </table>
</section>

<section *ngIf="this.role==='Admin' || this.role ==='Teacher'">
    <table>
        <tr>
            <th>ADD STUDENT</th>
            <th>ADD STUDENT GRADE</th>
        </tr>
        <tr>
            <td>
                <section id="add-student" *ngIf="this.role==='Admin' || this.role ==='Teacher'">
                    <!-- <span>ADD STUDENT</span> -->
                    <form (ngSubmit)="addStudent()">
                        <!-- <input type="text" name="courseId" placeholder="Course id" [(ngModel)]="toAddStudentData.courseId"> -->
                        <label>STUDENT ID</label>
                        <input type="text" name="studentId" placeholder="Student ID"
                            [(ngModel)]="toAddStudentData.studentId">
                        <!-- <input type="submit" value="Submit"> -->

                    </form>
                </section>
            </td>
            <td>
                <section *ngIf="this.role==='Admin' || this.role ==='Teacher'">
                    <!-- <span>ADD STUDENT GRADE</span> -->
                    <form (ngSubmit)="addGradeToStudent()">
                        <!-- <input type="text" name="courseId" 
        placeholder="Course id" 
        [(ngModel)]="addGradeToStudentData.courseId"> -->
                        <label>STUDENT ID</label>
                        <input type="text" name="studentId" placeholder="Student ID"
                            [(ngModel)]="addGradeToStudentData.studentId">

                        <label>STUDENT GRADE</label>
                        <input type="text" name="grade" placeholder="Grade" [(ngModel)]="addGradeToStudentData.grade">


                        <span *ngIf="addGradeFail">Invalid data</span>
                        <!-- <input type="submit" value="Submit"> -->

                    </form>
                </section>
            </td>
        </tr>
        <tfoot>
            <tr>
                <td><input type="submit" value="SUBMIT" class="submit-button"></td>
                <td><input type="submit" value="SUBMIT" class="submit-button"></td>
                
            </tr>
        </tfoot>
    </table>
</section>

<section *ngIf="this.role==='Admin' ">
    <button (click)="removeTeacher()">Remove teacher</button>
</section>