<section >
  <table >
    <thead>
      <tr>
        <th>Course name</th>
        <th>course teacher</th>
      </tr>
    </thead>
  <tbody>
    
  <tr *ngFor="let courseTeacherDTO of data">
    
    <!-- <td (click)="sendToCourse($event)">{{ courseTeacherDTO.course }}</td> -->
    <td><a routerLink="/course/{{ courseTeacherDTO.course }}" >{{ courseTeacherDTO.course }}</a></td>
    <td>{{ courseTeacherDTO.teacher }}</td>
    
  </tr>
</tbody>

</table>
  
<p>Average grade for student: {{grade}}</p>
</section>
  
<section *ngIf="this.role==='Teacher'">
  <table >
    <thead>
      <tr>
        <th>Course name</th>
        <th>Average grade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let courseGrade of courseGrade">
        <!-- <td (click)="sendToCourse($event)">{{ courseGrade.courseName }}</td> -->
        <td ><a routerLink="/course/{{courseGrade.courseName}}" >{{ courseGrade.courseName }}</a></td>
        <td>{{ courseGrade.averageGrade }}</td>
        
      </tr>
    </tbody>
  </table>

</section>

<section *ngIf="this.role==='Admin'">
  <table >
    <thead>
      <tr>
        <th>Course name</th>
        <th>Teacher name</th>
        <th>Average grade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let courseTeacherGrade of courseTeacherGrade">
        <td >
          <a routerLink="/course/{{ courseTeacherGrade.courseName }}" >
            {{ courseTeacherGrade.courseName }}

          </a>
        </td>
        <td>{{ courseTeacherGrade.teacherName }}</td>
        <td>{{ courseTeacherGrade.averageGrade }}</td>
      
      </tr>
    </tbody>
  </table>

</section>
