<div class="topnav">
  <span>Welcome | {{user.userName}}</span>
</div>
<section *ngIf="this.role==='Student'">
  <table>
    <thead>
      <tr>
        <th>Course</th>
        <th>Teacher</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let courseTeacherDTO of data">

        <!-- <td (click)="sendToCourse($event)">{{ courseTeacherDTO.course }}</td> -->
        <td><a routerLink="/course/{{ courseTeacherDTO.course }}">{{ courseTeacherDTO.course }}</a></td>
        <td>{{ courseTeacherDTO.teacher }}</td>

      </tr>
      <tr>
        <td id="avg-grade">AVERAGE GRADE FROM COURSES</td>
        <td>{{grade}}</td>
      </tr>
    </tbody>

  </table>
</section>

<section *ngIf="this.role==='Teacher'">
  <table>
    <thead>
      <tr>
        <th>Course name</th>
        <th>Average grade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let courseGrade of courseGrade">
        <td><a routerLink="/course/{{courseGrade.courseName}}">{{ courseGrade.courseName }}</a></td>
        <td>{{ courseGrade.averageGrade }}</td>

      </tr>
    </tbody>
  </table>

</section>

<section *ngIf="this.role==='Admin'">
  <table>
    <thead>
      <tr>
        <th>Course name</th>
        <th>Teacher name</th>
        <th>Average grade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let courseTeacherGrade of courseTeacherGrade">
        <td>
          <a routerLink="/course/{{ courseTeacherGrade.courseName }}">
            {{ courseTeacherGrade.courseName }}

          </a>
        </td>
        <td>{{ courseTeacherGrade.teacherName }}</td>
        <td>{{ courseTeacherGrade.averageGrade }}</td>

      </tr>
    </tbody>
  </table>
  <table id="change-role">
    <thead>
      <tr>
        <th>Add Student Role</th>
        <th>Add Teacher Role</th>
        <th>Add new course</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input id="student-name" placeholder="Student name">
          <input id="student-age" placeholder="Student age">
          <input id="student-email" placeholder="User email">
          <!-- <button class="submit-button" type="submit" (click)="changeToStudent()">Change Role to student</button> -->
        </td>
        <td>
          <input id="teacher-name" placeholder="Teacher name">
          <input id="teacher-degree" placeholder="Teacher degree">
          <input id="teacher-email" placeholder="User email">
          <!-- <button class="submit-button" type="submit" (click)="changeToTeacher()">Change Role to teacher</button> -->
        </td>
        <td *ngIf="this.role==='Admin'">
          <section>
              <!-- <span>ADD COURSE</span> -->
              <form >
                  <label>COURSE NAME</label>
                  <input type="text" name="courseName" placeholder="Course name"
                      [(ngModel)]="createCourseData.courseName">

                  <label>HOURS</label>
                  <input type="text" name="totalHours" placeholder="Total Hours"
                      [(ngModel)]="createCourseData.totalHours">

                  <label>TeacherId</label>
                    <input type="text" name="teacherId" placeholder="Teacher id"
                      [(ngModel)]="createCourseData.teacherId">

                  <!-- <input type="submit" value="Add course"> -->
              </form>
          </section>
      </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><button class="submit-button" type="submit" (click)="changeToStudent()">SUBMIT</button></td>
        <td><button class="submit-button" type="submit" (click)="changeToTeacher()">SUBMIT</button></td>
        <td *ngIf="this.role==='Admin'"><input type="submit" value="SUBMIT" class="submit-button" (click)="createCourse()"></td>
      </tr>
    </tfoot>
  </table>


</section>